body {
  text-transform  : none;
}
.center {
  margin: 10px auto !important;
  width: 80% !important;
}
.ui-page .ui-header, .ui-page .ui-footer {
  height            : 60px !important;
  background-color  : #9EB004 !important;
  color             : #691C00 !important;
}
.ui-page .ui-header h1 {
  font-size   : 18px;
  font-weight : bold;
  text-align  : left;
  text-shadow : 1px 1px 1px #000000;
  margin      : 5px 0px 0px 15px;
}
.ui-page .ui-footer .btn {
  background-color  : #264914;
  color             : #fff;
  box-shadow        : none;
  margin-left       : -40px;
  margin-top        : 12px;
  padding           : 10px 25px;
  border-radius     : 8px;
}
/* placeholder color */
.ui-input-text input::-moz-placeholder,
.ui-input-text input::-webkit-input-placeholder,
.ui-input-search input::-moz-placeholder,
.ui-input-search input::-webkit-input-placeholder,
textarea.ui-input-text::-moz-placeholder,
textarea.ui-input-text::-webkit-input-placeholder {
    color : #264914 !important;
}
.ui-input-text,textarea, .ui-select, .ui-radio {
  border-color : #43911A !important;
  margin: 0 auto;
  width: 80%;
}
.ui-mobile label {
  color       : #264914;
  text-shadow : 1px 1px 1px;
}
.avatar {
  border  : 1px solid #ccc;
}
.avatar p {
  color       : #ccc;
  text-align  : center;
  height      : 80px;
}
.error {
  color : #691C00 ;
}
p.error {
  font-weight: bold;
  font-size: 16px;
}
.user-info {
  color       : #691C00;
  text-align  : center;
}
.user-info span {
  color       : #264914;
  text-shadow : 1px 1px 1px;
}
.buttons-group {
  text-align  : center;
}
.buttons-group.center a {
  color           : #264914;
  text-shadow     : 1px 1px 1px;
  border          : 2px solid #264914;
  border-radius   : 15px;
  text-transform  : capitalize;
}
.ui-icon {
  background-color:#9EB004 !important;
}
.ui-field-contain {
  border  : none;
}